NODE_ENV = DEVELOPMENT
PORT=5000

MYSQL_HOST = 127.0.0.1
MYSQL_USER = dummyuser
MYSQL_PASS = password1234567
MYSQL_DB = test

MONGO_DB_URI = mongodb://127.0.0.1:27017/test

JWT_KEY = awp9euhrnfjal;;ihwen;aslkdgj
JWT_EXPIRES_IN = 90d

COOKIE_EXPIRES_IN = 90

SESSION_SECRET = a;lkdfjl;

FRONTEND_URI = http://127.0.0.1:5173
